.header{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.header__menu{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 2em;
    padding: 0;
}

.header__link{
    font-size: var(--size-xs);
    text-decoration: none;
}

/* xs */

@media (min-width:475px){

}

/* Sm */

@media (min-width:640px){

}

/* Md */

@media (min-width:768px){

}

/* lg */

@media (min-width:1024px){
    .section{
        margin-top: 10rem;
    }

}

/* XL */

@media (min-width:1228px){

}

/* 2XL */

@media (min-width:1536px){

}